
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./9082953.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  .signin-container {
    background-color: rgba(41, 39, 39, 0.363);
    padding: 40px 30px;
    border-radius: 15px;
    backdrop-filter: blur(1.5);
    
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  
  .signin-container h1 {
    margin-bottom: 30px;
    color: #f5ebeb;
    font-size: 32px;
  }
  
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(85, 83, 83, 0.342);
    color: beige;
    font-size: 16px;
    transition: 0.3s;
  }
  .input-group input::placeholder {
    color: #d1caca;
    opacity: 1;  
  }
  
  
  .signin-button {
    background-color: #4079b6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
  }
  
  .signin-button:hover {
    background-color: rgb(79, 132, 189);
  }
  
  
  .signup-text {
    margin-top: 20px;
    color: #a8a4a4;
    font-size: 14px;
  }
  
  .signup-text:hover {
    color: #d6dadd;
    cursor: pointer;
  }
  
  @media (max-width: 480px) {
    .signin-container {
      padding: 30px 20px;
    }
  
    .signin-container h1 {
      font-size: 26px;
    }
  }
  